[submodule "Blockchain Development/Foundry Development Course/L2_FundMe/lib/chainlink-brownie-contracts"]
	path = Blockchain Development/Foundry Development Course/L2_FundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
